@model IEnumerable<Presentation.Models.PresentationModel>

@{
    ViewBag.Title = "My Presentations";
}

<h2>My Presentations</h2>
<link href=@Url.Content("~/Content/ratings/jquery.rating.css") rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript">
window.jQuery || document.write('<script type="text/javascript" src="js/jquery-1.6.2.min.js"><\/script>');
</script>
<script type="text/javascript" src="../../Content/ratings/jquery.rating-2.0.min.js"></script>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table width="100%">
    <tr>        
        <th>Name</th>
        <th>Description</th>
        <th>Tags</th>
        <th>Rating</th>
        <th></th>
		<th></th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tags)
        </td>
		<td style="width:200px">
		@if (@item.IsRatedByOne){
			<div class="rating" style="width:200px" >									
				<input type="hidden" name="val" value="@item.AverageRating" />							
			</div> 
		}		
        </td>
            @if(Request.IsAuthenticated) {
                <td>
                    <a href= @Href("/Presentation/EditSlides", new { id = item.PresentationId })>Edit</a>
                </td>
                <td><a href= @Href("/Presentation/SlideShow", new { id = item.PresentationId })>Show</a></td>
				<td>
                    @Html.ActionLink("Delete", "Delete", new { id=item.PresentationId })
				</td>
              }				
    </tr>
}

</table>
<script>
   $('div.rating').rating({
	fx: 'full',
       image: '../Content/ratings/images/stars.png',
       loader: '../Content/ratings/images/ajax-loader.gif',
	   url: 'rating.php',
	   readOnly: true,
       callback: function(responce){           
           this.vote_success.fadeOut(2000);
       }
});
</script>