@model Presentation.Models.UserEditModel

@{
    ViewBag.Title = "Details";
}
<h2>Manage User</h2>
<table Width=30%>
<tr>
	<td>UserName</td>
	<td>@Html.DisplayFor(model => model.UserName) </td>
</tr>

<tr>                
	<td>E-mail</td>
	<td>@Html.DisplayFor(model => model.UserDetails.Email) </td>
</tr>

<tr>
	<td>Since</td>
	<td>@Html.DisplayFor(model => model.UserDetails.CreateDate) </td>
</tr>
<tr>
<td>
    @Html.ActionLink("Edit", "Edit", new { Name=Model.UserName, ViewType="One" }) 
</td><td></td>
</tr>
<tr>
<td>
	 @Html.ActionLink("Reset Password", "ResetPassword", new { Name=Model.UserName, ViewType="One" })    
</td><td></td>
</tr>
</table>
