@model Presentation.Models.UserDetailsModel

@{
    ViewBag.Title = "Details";
}

<h2>Manage User</h2>

<fieldset>
    <legend>User Details</legend>

    <div class="display-label">Name @ViewBag.message</div>		
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { name = @ViewBag.message }) |
    @Html.ActionLink("Back to Home", "../Home/Index")
</p>
