@model System.Web.Security.MembershipUserCollection

@{
    ViewBag.Title = "Index";
}

<h2>Users information</h2>

<table width="100%">
    <tr>
        <th>Login</th>
        <th>E-mail</th>
		<th>Status</th>
		<th>Since</th>
		<th>Last Activity</th>
		<th></th>
		<th></th>
		<th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => ((MembershipUser)item).UserName)
        </td>                

        <td>
            @Html.DisplayFor(modelItem => ((MembershipUser)item).Email)
        </td>
		@if (((MembershipUser)item).IsOnline) { <td>ON-line</td>} else {<td>OFF-line</td> }
		<td>
            @Html.DisplayFor(modelItem => ((MembershipUser)item).CreationDate)
        </td>
		<td>
            @Html.DisplayFor(modelItem => ((MembershipUser)item).LastActivityDate)
        </td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { name=((MembershipUser)item).UserName } ) 
		</td>
		<td>
			@Html.ActionLink("Password Reset", "PasswordReset", new { name=((MembershipUser)item).UserName } ) 
		</td>
		<td>
			@Html.ActionLink("Delete", "Delete", new { name=((MembershipUser)item).UserName })
		</td>
    </tr>
}
</table>
