@model IEnumerable<Presentation.Models.PresentationModel> 
@{
    ViewBag.Title = "Presentations";
}

<h2>Search Results for: </h2>
<h2>@ViewBag.Message</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link href=@Url.Content("~/Content/ratings/jquery.rating.css") rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript">
window.jQuery || document.write('<script type="text/javascript" src="js/jquery-1.6.2.min.js"><\/script>');
</script>
<script type="text/javascript" src="../../Content/ratings/jquery.rating-2.0.min.js"></script>
   			
<table width="100%">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Tags</th>
        <th>Created By</th>
		<th>Rating</th>
		@if(Request.IsAuthenticated) {		
			<th></th>
			<th>Vote</th>
		}
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tags)
        </td>
		<td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
		<td>
		@if (@item.IsRatedByOne){
			<div class="StaticRating" >
				<input type="hidden" name="val" value="@item.AverageRating" />
			</div>
		}
		</td>
            @if(Request.IsAuthenticated) {
                <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PresentationId })
				</td>
				<td>						
					@if(@item.IsRatedByUser){
							<div class="rating" id="@item.PresentationId" >
								<input type="hidden" class="rateValue" name="val" value="@item.UserRate" />
							</div>	
							<script>
								$('#@item.PresentationId').filter('div.rating').rating({					
									fx: 'full',
									readOnly:true,
									image: '../Content/ratings/images/stars.png'												    
								});								
							</script>	
						} else
						{
							<div class="rating" id="@item.PresentationId" >
								<input class="rateValue" name="val" value="0" />
							</div>	
							<script>
								$('#@item.PresentationId').filter('div.rating').rating({					
									fx: 'full',						
									image: '../Content/ratings/images/stars.png',
									loader: '../Content/ratings/images/ajax-loader.gif',					
									click: function (event, ui) {							
									$.post("/Search/Vote",
										{ UserName: "@User.Identity.Name", PresentationId: "@item.PresentationId",
										Rating: $('#@item.PresentationId').children().children().filter('.vote-success').text() },
										function () {});}
									});						
							</script>
						}
				</td>
			}           	
    </tr>
}
</table>
<script>
   $('div.StaticRating').rating({
	fx: 'full',
       image: '../Content/ratings/images/stars.png',
       loader: '../Content/ratings/images/ajax-loader.gif',
	   readOnly: true,
       callback: function(responce){           
           this.vote_success.fadeOut(2000);
       }
});
</script>